<div class="jumbotron">
  <h1>Welcome to Bingo</h1>
  <%if current_user%>
    <p><span class="glyphicon glyphicon-heart"></span> Nice to see you, <%= current_user.username%> <span class="glyphicon glyphicon-heart"></span></p>
  <%end%>
  <p>Sign up or log in, then start playing.</p>
</div>